@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  width: 940px;
	background-color: #1c1e21;
	margin: 0 auto;
}

.cover {
	background-image: url('tile.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 528.750px;
	background-color: brown;
}

.profile-container {
	padding: 0 32px;
	padding-bottom: 16px;
	display: flex;
}

.profile-image {
	margin-top: -32px;
	border-radius: 9999px;
	width: 168px;
	height: 168px;
	object-fit: cover;
	flex: none;
	
}

.profile-details {
	flex: auto;
}

button {
	appearance: none;
	border: none;
	background-color: transparent;
	border-radius: 6px;
	height: 36px;
	background-color: #282a2a;
	color: rgb(228, 230, 235);
	padding: 0 16px;
	cursor: pointer;
	transition: background-color ease-out 100ms;
}

button:hover {
	background-color: #323434;
}

button.primary {
	background-color: #2374E1;
}

button.primary:hover {
	background-color: #4b8fe7;
}

.profile-actions {
	display: flex;
	align-items: flex-end;
	padding-bottom: 8px;
}

.profile-actions button {
	margin: 8px 4px 0 4px;
}

.profile-details {
	padding: 16px 16px 8px 16px;
	color: white;
}

.profile-details h2 {
	font-size: 32px;
	margin: 0;
}

.profile-details p {
	padding-top: 16px;
	margin: 0;
}

.friends-list {
	display: flex;
	padding-top: 4px;
	margin-left: 4px;
}

.friend-pic {
	width: 32px;
	height: 32px;
	border-radius: 9999px;
	border: 2px solid #1c1e21;
	margin-left: -8px;
}